<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @family_unit.name %>
</p>

<p>
  <b>Active:</b>
  <%= @family_unit.active %>
</p>

<p>
  <b>Mentor familyunit:</b>
  <%= @family_unit.mentor_familyunit_id %>
</p>


<%= link_to 'Edit', edit_family_unit_path(@family_unit) %> |
<%= link_to 'Back', family_units_path %>
