<p id="notice"><%= notice %></p>

<p>
  <b>Custom member ref:</b>
  <%= @member.custom_member_ref %>
</p>

<p>
  <b>Family unit:</b>
  <%= @member.family_unit_id %>
</p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Address:</b>
  <%= @member.address %>
</p>

<p>
  <b>Nif:</b>
  <%= @member.nif %>
</p>

<p>
  <b>Zip:</b>
  <%= @member.zip %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>Phone1:</b>
  <%= @member.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @member.phone2 %>
</p>

<p>
  <b>Web:</b>
  <%= @member.web %>
</p>

<p>
  <b>Notes:</b>
  <%= @member.notes %>
</p>

<p>
  <b>Active:</b>
  <%= @member.active %>
</p>

<p>
  <b>Participant:</b>
  <%= @member.participant %>
</p>

<p>
  <b>Adult:</b>
  <%= @member.adult %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
